<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appid</key>
	<string>bdz83pnzenvqjr7l</string>
	<key>appkey</key>
	<string>xeeHPvzXCmiIHJfMmGJmqPgQdUJACeIj</string>
	<key>urlDomain</key>
	<string>http://test-apiin-sdk.essmicrogames.com</string>
	<key>AWChannelID</key>
	<string>sdk100102</string>
	<key>AIHelpEntranceId</key>
	<string>E001</string>
	<key>AdDebug</key>
	<true/>
	<key>VKAppId</key>
	<string>51638338</string>
	<key>AppLovinSdkKey</key>
	<string>MpfXZT3E7bK1ZUyIW4e61NDpZTziLOT0I-sRE_XXW6ZV2TUSWkCdJNvwUTo758qN0zIoIcApPxpyHhPEgvFIo-</string>
	<key>正式服</key>
	<string>https://api-sdk.essmicrogames.com</string>
	<key>测试服</key>
	<string>http://test-apiin-sdk.essmicrogames.com</string>
</dict>
</plist>
